.widget {
    border: 1px solid #fff;
}

.widgetMouseOver {
    border: 1px dashed #51bfd2;
    border-radius: 3px;
}

.widgetEditable {
    border: 1px solid #51bfd2;
    border-radius: 3px;
}

.widgetRemoveButton {
    color: red;
    font-family: verdana;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #51bfd2;
    border-radius: 2px;
    padding: 3px;
}

.widgetDragButton {
    color: blue;
    font-family: verdana;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #51bfd2;
    border-radius: 2px;
    padding: 3px;
}

.btnColor {
    padding: 3px !important;
    line-height: 100% !important;
}