.book-widget {
    border: 1px solid #fff;
}

.book-widget-mouse-over {
    border: 1px dashed #51bfd2;
    border-radius: 3px;
}

.book-widget-editable {
    border: 1px solid #51bfd2;
    border-radius: 3px;
}