/** Add css rules here for your application. */

.Center-Container {
    position: relative;
}

.Absolute-Center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Fixed {
    position: fixed;
    z-index: 999;
}

.draft-with-border {
    border:1px solid red;
}